<div class='article'>
	<h2>planet generation</h2>
	<div class='subheader'>c++, OpenGL, WebGL, computer graphics</div>
	I experimented with a simple algorithm for generating planets during a graphics class where you needed to create a 3D scene. A simple terrain
	generation algorithm is used with hard cutoffs for the land/sand/water zones. Trees are then places on the "habitable" zone afterwards.
	I also took the chance to experiment with WebGL ( which was in it's infancy at the time ) for fun by porting some of the main C++ code over
	to javascript.
	<div class='github-link'>
		<a href='https://github.com/a5huynh/planet-generator'><img src='/static/img/octocat.png'> Code available on Github!</a>
	</div>
	
</div>