<div class='article'>
	<h2>a bit about me</h2>
	I'm a Ph.D student at the <a href='http://cse.ucsd.edu'>University of California, San Diego</a>.

	<p style='text-align:center;'>
	<img style='border-radius:4px;' src='http://maps.googleapis.com/maps/api/staticmap?center=UCSD,La Jolla,CA&amp;zoom=14&amp;size=496x128&amp;markers=color:blue%7CUCSD,La Jolla,CA&amp;sensor=false'>
	</p>

	<p>
	My focus is currently a combination of <em>human computation</em>, <em>computer vision</em> and <em>machine learning</em>.
	Despite that my interests cover everything from human-computer interaction and computer graphics
	to astronomy and astrophysics!

	<p>
	A lot of my free time is spent hacking away at various <a href='http://github.com/a5huynh'>side projects</a>,
	adventuring, or simply enjoying the fantastic weather that blesses the San Diego biome.
</div>
<div class='article'>
	<h2>latest work</h2>
	<div id='latest-work'>
		<div class='grid_2'>
			<a href='http://posterhall.org/igert2012/posters/252'>
				<img src='/static/img/latest/igert-poster-2012.jpeg' width='140'>
			</a>
		</div>
		<div class='grid_4'>
			<div>Harnessing the Power of Public Consensus in the Search for Genghis Khan's Tomb</div>
			<div>
				<a href='http://posterhall.org/igert2012/posters/252'>
					<em>IGERT Poster Competition 2012</em>
				</a>
			</div>
		</div>
	</div>
</div>