	</div>
	<div class='footer container_12'>
		<div class='grid_12'>
			<p>
				Andrew Huynh. Cofounder of <a href='http://productbio.com'>ProductBio</a>
				Like what you see? My website is <a href='https://github.com/a5huynh/athlabs.com'>open source!</a>
				This is my <a href='https://pgp.mit.edu/pks/lookup?op=get&amp;search=0x1569686B1782AAF7'>PGP public key</a>
			</p>
		</div>
	</div>
	<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	<script type='text/javascript' src='/static/js/jquery.hashchange.js'></script>
	<script type='text/javascript' src='/static/js/init.js'></script>
</body>
</html>