	</div>
	<div class='footer container_12'>
		<div class='grid_12'>
			<p>An athlabs production. Like what you see? My website is <a href='https://github.com/a5huynh/athlabs.com'>open source!</a></p>
		</div>
	</div>
	<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	<script type='text/javascript' src='/static/js/jquery.hashchange.js'></script>
	<script type='text/javascript' src='/static/js/emoticons.js'></script>
	<script type='text/javascript' src='/static/js/init.js'></script>
</body>
</html>