<div id='navbar' class='grid_5'>
  <div class='ido {% if page.path == 'index.md' %}selected{% endif %}'>
    <a href='/'>
      <div class='question-mark'>
        who is this guy?
      </div>
    </a>
  </div>

  <div class='ido {% if page.path == 'news/index.md' %}selected{% endif %}'>
    <a href='/about/news'>
      <div class='newspaper'>
        me in the news.
      </div>
    </a>
  </div>

  <div class='ido {% if page.path == 'research/index.md' %}selected{% endif %}'>
    <a href='/about/research'>
      <div class='radiation'>
        i do science.
      </div>
    </a>
  </div>

  <div class='ido'>
    <a href='http://github.com/a5huynh'>
      <div class='github'>
        i code.
      </div>
    </a>
  </div>

  <div class='ido {% if page.path =='tech/index.md' %}selected{% endif %}'>
    <a href='/about/tech'>
      <div class='gears'>&nbsp;</div>
    </a>
  </div>
</div>
