<div class='article'>
	A bunch of links to reputable news sources about me or various things I have done.
	Articles are in reverse chronological order.
	<p>
	<h2>2012</h2>
	<ul class='news_clippings'>
		<li>
			<a href='http://calit2.net/newsroom/release.php?id=2074'>
				Calit2 Distributed Health Lab: Bringing Power of Prevention and Diagnosis to the People
			</a>
			<div class='caption'>Calit2 News Release</div>
		<li>
			<a href='https://www.uplinq.com/mobile-codefest'>
				Qualcomm CodeFest Winners
			</a>
			<div class='caption'>Qualcomm Developer Network</div>
		</li>
		<li>
			<a href='http://www.ece.ucsd.edu/node/2714'>
				2012 NSF IGERT Poster &amp; Video Competition Winner
			</a>
			<div class='caption'>UCSD ECE Department News</div>
		</li>
		<li>
			<a href='http://cse-ece-ucsd.blogspot.com/2012/05/vote-for-cse-grad-student-andrew-huynh.html'>
				Vote for CSE grad student Andrew Huynh and the search for Genghis Khan's Tomb
			</a>
			<div class='caption'>UC San Diego's Jacobs School of Engineering</div>
		</li>
	</ul>
	<h2>2011</h2>
	<ul class='news_clippings'>
		<li>
			<a href='http://developer.yahoo.com/blogs/ydn/posts/2011/09/yahoo-open-hack-all-stars-in-new-york-city/'>
				Yahoo! Open Hack All Stars in New York City
			</a>
			<div class='caption'>Yahoo! Developer Network</div>
		</li>
		<li>
			<a href='http://www.igert.org/announcements/167'>
				First IGERT Trainee Returns from Field Expedition
			</a>
			<div class='caption'>IGERT Announcements</div>
		</li>
		<li>
			<a href='http://exploration.nationalgeographic.com/mongolia/content/21st-century-approach-ground-surveying'>
				21st Century Approach to Ground Surveying.
			</a>
			<div class='caption'>National Geographic Exploration</div>
		</li>
		<li>
			<a href='http://ucsdnews.ucsd.edu/newsrel/general/05-19-11FridgeHack.asp'>
				'What's In My Fridge' Hack Wins Top Prize at Yahoo! Competition.
			</a>
			<div class='caption'>UCSD News</div>
		</li>
		<li>
			<a href='http://www.jacobsschool.ucsd.edu/news/news_releases/release.sfe?id=1070'>
				Food in the fridge hack wins top prize at Yahoo! competition.
			</a>
			<div class='caption'>Jacob's School News</div>
		</li>
		<li>
			<a href='http://theaggie.org/article/2011/06/01/smart-fridge-improves-kitchen-experience'>
				Smart fridge improves kitchen experience.
			</a>
			<div class='caption'>The Aggie</div>
		</li>
	</ul>

	<h2>2010</h2>
	<ul class='news_clippings'>
		<li>
			<a href='http://www.jacobsschool.ucsd.edu/news/news_releases/release.sfe?id=944'>
				Yahoo! Hack U a hit at UC San Diego.
			</a>
			<div class='caption'>Jacob's School News</div>
		</li>
	</ul>

	<h2>2009</h2>
	<ul class='news_clippings'>
		<li>
			<a href='http://www.jacobsschool.ucsd.edu/news/news_releases/release.sfe?id=817'>
				UC San Diego Engineering Students Create 'Wall of Widgets' for Mobile Internet.
			</a>
			<div class='caption'>Jacob's School News</div>
		</li>
	</ul>
</div>