<div class='article'>

	<h2>books/book chapters</h2>
	<ul class='citations'>
		<li data-year='2014'>
			<div class='title'>
				Search and Discovery Through Human Computation.
			</div>
			<div class='publication'>
				Handbook of Human Computation. <span class='year'>2014</span>
			</div>
			<div class='authors'>
				Lin, A. Y. &amp; Huynh, A.
			</div>
			<div class='media'>
				<a href='//www.amazon.com/Handbook-Human-Computation-Pietro-Michelucci/dp/1461488052'>amazon</a>
			</div>
		</li>
	</ul>

	<h2>conferences</h2>
	<ul class='citations'>
		<li data-year='2013'>
			<div class='title'>
				Mobile Analysis of Large Temporal Datasets for Exploration and Discovery.
			</div>
			<div class='publication'>
				<span class='year'>Under Review</span>
			</div>
			<div class='authors'>
				Huynh, A. &amp; Lin, A. Y.
			</div>
		</li>

		<li data-year='2013'>
			<div class='title'>
				Visual Analytics of Inherently Noisy Crowdsourced Data on Ultra
				High Resolution Displays.
			</div>
			<div class='publication'>
				2013 Aerospace Conference Proceedings.
				<span class='year'>2013</span>
			</div>
			<div class='authors'>
				Huynh, A., Ponto, K., &amp; Lin, A. Y.
			</div>
			<div class='media'>
				<a href='//ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6497421'>
					ieeexplore
				</a>
			</div>
		</li>
		<li data-year='2012'>
			<div class='title'>
				Connecting the Dots : Triadic Clustering of Crowdsourced Data to Map Dirt Roads.
			</div>
			<div class='publication'>
				Proceedings of 21st International Conference on Pattern Recognition.
				<span class='year'>2012</span>
			</div>
			<div class='authors'>
				Huynh, A., &amp; Lin, A.
			</div>
			<div class='media'>
				<a href='//ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6460984'>
					ieeexplore
				</a>
			</div>
		</li>
	</ul>

	<h2>journals</h2>
	<ul class='citations'>
		<li data-year='2013'>
			<div class='title'>
				Crowdsourcing the Unknown: The Search for Genghis Khan.
			</div>
			<div class='publication'>
			 	<span class='year'>Under Review</span>
			 </div>
			<div class='authors'>
				Lin, A., Huynh, A., Lanckriet, G., &amp; Barrington, L.
			</div>
		</li>
	</ul>

	<h2>misc</h2>
	<ul class='citations'>
		<li data-year='2013'>
			<div class='title'>
				Crowdsourcing and Its Application to Cultural Heritage.
			</div>
			<div class='publication'>
				Research Exam for University of California, San Diego.
				<span class='year'>2013</span>
			</div>
			<div class='authors'>
				Huynh, A.
			</div>
			<div class='media'>
				<a href='//github.com/a5huynh/research-exam/raw/master/paper/re.pdf'>
					pdf
				</a>
				<a href='//github.com/a5huynh/research-exam/raw/master/presentation/research-exam.pdf'>
					slides
				</a>
			</div>
		</li>
	</ul>
</div>
<div class='article' style='display:none;'>
	<h2>affliations</h2>
	<ul class='news_clippings'>
		<li>
			<a href='http://distributedhealth.org'>
				<h3>distributed health lab</h3>
			</a>
			<p>
				Distributed Health Lab is a small team of dedicated researchers,
				designers and technologists who understand that there is a better way,
				because each of us has already built at least part of it ourselves.
			</p>
			<p>
				We are based at Calit2, the University of California's premier information technology research institute, but our platform is based less on high tech than on building the most resilient, most effective lowest tech possible solutions to real world problems. (If the tech is already built and just needs to be deployed in a smarter way, that's even better.)
			</p>
		</li>
		<li>
			<a href='#'>
				<h3>rock my world</h3>
			</a>
			<p>
				Music recommendation platform for mobile devices. Playlists
				( and more =] ) are automatically generated based on your musical
				tastes.
			</p>
		</li>
		<li>
			<a href='http://exploration.nationalgeographic.com'>
				<h3>valley of the khans</h3>
			</a>
			<p>
				As a data scientist on the <a href='http://valleyofthekhans.org'>
				Valley of the Khans Project</a>, Andrew built a platform that enables
				computers to recognize archaeological sites using satellite imagery.
				Dr. Albert Lin and the National Geographic Society are
				using this platform for a <a href='http://exploration.nationalgeographic.com'>
				crowd-sourcing project</a> in Mongolia to find archaeological anomalies
				and to build a better map to guide future exploration in the region.
				NSF has recognized Andrew for his efforts, awarding him both
				“Judges Choice” and “Community Choice” at the annual
				<a href='http://posterhall.org/igert2012/posters/252'>IGERT Poster and Video Competition.</a>
			</p>
		</li>
	</ul>
</div>
