---
---

/* Import our HTML5 reset and 960 grid css */
@import "_constants";
@import "components/header";
@import "components/footer";
@import "components/nav";

@import "_reset";
@import "_960";

*::selection {
  background: $orange;
  color:white;
}

*::-webkit-selection {
  background: $orange;
  color:white;
}

*::-moz-selection {
  background: $orange;
  color:white;
}

body {
  font-size: $content-size;
  margin-top: 16px;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: $blue;
  border-bottom: 1px dotted $grey;

  .image {
    border: 0;
  }
}

em {
  color: $blue;
}

h1, h2 {
  font-family: $header-font;
  font-weight: lighter;
  color: $orange;
  margin-bottom: 4px;
}

h1 {
  font-size: $header-size;
}

h2 {
  font-size: $header-size / $golden-ratio;

  &:before {
    content: '# ';
    margin-left: -20px;
  }

}

hr {
  border: 1px solid orange;
  width: 75%;
  padding: 0;
  margin: 2em auto;
}

img {
  vertical-align: middle;
}

#latest-work {
  margin-top:16px;
  overflow:auto;

  .grid_4 {
    font-size:13px;
  }
}

.section {
  position: relative;
  margin-top:16px;
}

.subheader {
  font-size:16px;
  color: $blue;
  font-weight: normal;
  font-family: $header-font;
  margin-bottom: 4px;
}

.article {
  font-size:     16px;
  font-family:   $content-font;
  line-height:   175%;
  color:       #000;
  margin-bottom: 16px;
  padding-right: 16px;
}

/* Header's inside article will have a nice code comment effect */
.article {

  margin-bottom:32px;

  a.header {
    font-family:  $header-font;
    font-size:    26px;
    font-weight:  normal;
    color:      $orange;
    text-decoration: none;
    border-bottom:1px dotted $grey;
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    padding:0;
    margin: 16px 0 0 0;
  }

  .github-link {
    margin-top:8px;
    font-size:12px;
    padding:8px;
  }

  p {
    line-height: 28px;
  }
}

/* Tab styles */
.ido {
  margin-left: -10px;
  width: 398px;
  cursor:pointer;
  color: #DDD;

  border-left: 8px solid transparent;
  margin-bottom:16px;

  a {
    color: #DDD !important;
  }

  div {
    padding: 16px 32px;

    img {
      margin-right: 16px;
    }
  }
}

.ido:hover {
  border-left: 8px solid $grey !important;
  color:#000 !important;

  a {
    color:#000 !important;
  }
}

.selected {
  a {
    color:#000 !important;
  }
}

/* Some special style for the news clipping page */
ul.news_clippings {
  list-style-type:none;
  padding:0;
  margin:0;

  li {
    margin-bottom:16px;

    a {
      font-style: italic;
    }

  }

  .caption {
    font-size: 14px;
  }

  a.archive {
    font-size: 14px;
    font-style: normal;
    margin-left: 8px;

    &:before {
      content: "[";
    }

    &:after {
      content: "]";
    }
  }
}

@import "_citations";