@import "_constants";

#navbar {
  color: $black;
  font-size: 24pt;
  margin-left: 0;

  .ido div {
    padding-left: 104px;
  }

  .question-mark {
    background: url( '/static/img/question.svg' ) no-repeat 32px 8px;
    background-size: 56px 56px;
  }

  .newspaper {
    background: url( '/static/img/newspaper.svg' ) no-repeat 32px 8px;
    background-size: 56px 56px;
  }

  .radiation {
    background: url( '/static/img/science.svg' ) no-repeat 32px 8px;
    background-size: 56px 56px;
  }

  .github {
    background: url( '/static/img/computer.svg' ) no-repeat 32px 16px;
    background-size: 56px auto;
  }

  .gears {
    background: url( '/static/img/gears.svg' ) no-repeat 32px 8px;
    background-size: auto 56px;
  }

}
