{% include header.html %}
<div class='section'>
	<div class='grid_7'>
		<div class='article'>{{ content }}</div>
	</div>
	<div id='navbar' class='grid_5'>
		<div class='ido selected'>
			<a href='/'>
				<div class='question-mark'>
					who is this guy?
				</div>
			</a>
		</div>

		<div class='ido'>
			<a href='/news'>
				<div class='newspaper'>
					me in the news.
				</div>
			</a>
		</div>

		<div class='ido'>
			<a href='/research'>
				<div class='radiation'>
					i do science.
				</div>
			</a>
		</div>

		<div class='ido'>
			<a href='http://github.com/a5huynh'>
				<div class='github'>i code.</div>
			</a>
		</div>

		<div class='ido'>
			<a href='/tech'>
				<div class='gears'>&nbsp;</div>
			</a>
		</div>
	</div>
</div>
{% include footer.html %}